textarea{
    overflow:auto;
    height:99%;
    width:100%;
    background-color:white;
    border: 1px solid grey;
    -moz-border-radius: 10px;
    padding: 10px;
}

select,
input{
    padding: 10px;
    background-color:white;
    border: 1px solid grey;
    color:black;
    -moz-border-radius: 10px;
}

th{
    height:1;
}

table{
    height:80%;
    border: 1px solid blue;
}

td{
    width:50%;
}

.source{
    background-color: #FFE;
}

.result{
    background-color: #EFF;
}

.status{
    border: 1px solid orange;
    -moz-border-radius: 10px;
    margin: 10px 0;
    padding: 5px;
}

.title {
    font-size:1.5em;
}

.button{
    background-color:#FFC;
    font-weight:bolder;
}